.App {
  position: relative;
  width: 50vmin;
  height: 80vh;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
}

.black {
  background-color: black;
}

.bubble {
  position: absolute;
  top: 0;
  width: 50vmin;
  z-index: 2;
  filter: drop-shadow(-12px 5px 12px rgba(0, 0, 0, 0.3));
  color: grey;
}

.flip {
  transform: scaleX(-1);
}

.bubble > svg path {
  fill: white;
  stroke: currentColor;
}

.fade:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 53%
  );
  z-index: 1;
}

.person {
  width: 50vmin;
  height: 40vh;
}

img {
  border-radius: 0 0 10px 10px;
  width: 50vmin;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  object-position: 50% 100%;
}
