.App {
  position: relative;
  width: 50vmin;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  background-color: black;
  border: 1px solid red;
}

.bubble {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vmin;
  height: 40vh;
  z-index: 2;
  color: grey;
  pointer-events: none;
}

.content-outer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 320px;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-inner {
  font-family: "Shadows Into Light", cursive;
  font-size: 1.5em;
  text-align: center;
  max-width: 30vmin;
  color: black;
}

.flip {
  transform: scaleX(-1);
}

.bubble > svg path {
  fill: white;
  stroke: currentColor;
}

.fade:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 53%
  );
  z-index: 1;
}

.person {
  border-radius: 20px;
}

.markers {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  /* object-fit: cover; */
  overflow: hidden;
  object-position: 50% 100%;
  z-index: 2;
  pointer-events: none;
}

img {
  border-radius: 0 0 10px 10px;
  border-radius: 20px;
  width: 50vmin;
  height: auto;
  /* object-fit: cover; */
  overflow: hidden;
  object-position: 50% 100%;
}
